In [ ]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello " + lname + " " + fname)

Input your First Name : aya
Input your Last Name : eljaouhari
Hello eljaouhari aya

In [ ]:
1 a = int(input("5 : "))
2   n1 = int( "%s" % a )
3   n2 = int( "%s%s" % (a,a) )
4   n3 = int( "%s%s%s" % (a,a,a) )
5   print (n1+n2+n3)

In [ ]:
n = '5'
sum_n = 0
n_itr = ''
for i in range(3):
    n_itr = n_itr + n
    print('printing n_itr', n_itr, type(n_itr))
    sum_n = int(sum_n) + int(n_itr)
    print('printing sum_n ', sum_n)

printing n_itr 5 <class 'str'>
printing sum_n  5
printing n_itr 55 <class 'str'>
printing sum_n  60
printing n_itr 555 <class 'str'>
printing sum_n  615

In [ ]:
num = int(input("Enter any number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter any number: 4
This is an even number.

In [ ]:
For i in range(2000,3201,1): 
#This will start the loop from 2000 till 3200 because the range function goes till x-1 (In this case 3201 - 1)

if i%7==0 and i%5!=0:

print(i)

SyntaxError: ignored

In [ ]:


# change the value for a different result
num = 8

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 8 is 40320

In [ ]:
str1 = input("Please Enter your Own String : ")

str2 = ''

for i in range(len(str1)):
    if(i % 2 == 0):
        str2 = str2 + str1[i]
        
print("Original String :  ", str1)
print("Final String :     ", str2)

Please Enter your Own String : hello team
Original String :   hello team
Final String :      hlota